@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .arrowAnim {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .arrow {
    width: 70px;
    height: 70px;
    border: 1.8vw solid;
    border-color: rgb(34, 211, 238) transparent transparent rgb(34, 211, 238);
    transform: rotate(225deg);
  }

  .arrowSliding {
    position: absolute;

    animation: slide 4s linear infinite;
  }

  .delay1 {
    animation-delay: 1s;
  }
  .delay2 {
    animation-delay: 2s;
  }
  .delay3 {
    animation-delay: 3s;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-15vw);
    }
    20% {
      opacity: 1;
      transform: translateY(-9vw);
    }
    80% {
      opacity: 1;
      transform: translateY(9vw);
    }
    100% {
      opacity: 0;
      transform: translateY(15vw);
    }
  }
}
